html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#map {
    height: 72%;
    float: top;
}
#rightpanel{
    overflow: auto;
    width: 390px;
    height: 100%;
    float: right;
}
#border{
/*    height: 30%;*/
    height: 25%;
    float: right;
/*    width: 390px;*/
    width: 390px;
    background-color: #7DC43A;
}
#myroute{
    height: 21%;
/*    height: 25%;*/
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    position: absolute;
    background-color: white;
    text-align: center;
}
#logo{
    height: 100px;
}
#home{
    height: 20px;
    position: relative;
    top: -80px;
    right: -40px;
}
#home:hover{
    opacity: 0.3;
}

#goScenic{
    margin-top: 0px;
}

#routedeets{
    text-align: center; 
    font-size: large;
    margin-top: 5px;
}
#directions{
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    height: 75%;
    float: right;
    width: 390px;
    overflow: auto;
}
#directions select {
    width: 100%;
}
#pano {
    float: bottom;
    height: 28%;
} 
#adp-placemark img, .adp-placemark img {
   display:none;
}
#dragbar{
    background-color: black;
    height: 5px;
    float: left;
    width: 100%;
    cursor: row-resize;
}
#ghostbar{
    width: 3px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    cursor: row-resize;
    z-index: 999;
}









