<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Route</title>
    <link rel="stylesheet" type = "text/css" href="/static/bad_input.css"/>    
<!--      ?version=1.1-->
  </head>
    <script type="text/javascript" src="{{ url_for('static', filename='bad_input.js') }}"></script>

  <body>
      <div class="header">
    <h1>Oops!</h1>
      </div>
      <h2><i>Something went wrong. Either the provided addresses are invalid or not enough time was allowed for the trip. Go back and try again! </i></h2>
  </body>
</html>