<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Route</title>
    <link rel="stylesheet" type = "text/css" href="/static/route.css"/>    
<!--      ?version=1.1-->
  </head>
    <script type="text/javascript" src="{{ url_for('static', filename='route.js') }}"></script>
      <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPn6VnGvKDcPjjnq9utmKMwVxPv0gln5w&callback=initMap">
    </script>
  <body onload = initMap({{ startpoint|tojson }})>
    <div id="directions"></div>
    <div id="map"></div>

       
     
  </body>
</html>