<!--
mountain2: http://kingofwallpapers.com/mountains/img-007.php?pic=/mountains/mountains-007.jpg

road1: https://www.youtube.com/watch?v=heUBpojPxYc

road2: http://www.breathe.southbaychurch.org/category/author-stacie-wood/

road3: https://www.loadafn.com/customers/managed-transportation-services/

road4: http://www.doralongas.co.il/?CategoryID=192

road5: http://mattepainting.org/vb/showthread.php?t=2265

road6: https://wall.alphacoders.com/by_sub_category.php?id=168635

road7: https://mobile.alphacoders.com/d_359/wallpaper/24/Man-Made-Road-Wallpapers

road8: https://twitter.com/elvaabril

road9: http://www.gotourny.com/find-your-ride

road10: http://www.wallpaperhd.pk/scenic-road-wallpaper-hd/

road11: http://listosaur.com/travel/top-10-most-scenic-drives-in-the-united-states/

road12: http://www.wallpaperbetter.com/nature-and-landscape-wallpaper/endless-grove-street-23884

road13: http://eskipaper.com/travel/

road14: http://eskipaper.com/beautiful-rural-road-wallpaper.html#gal_post_34950_beautiful-rural-road-wallpaper-1.jpg

road15: http://eskipaper.com/cool-forest-road-wallpaper.html#gal_post_34956_cool-forest-road-wallpaper-1.jpg

road16: http://eskipaper.com/cool-highway-pictures.html#gal_post_34958_cool-highway-pictures-1.jpg
-->

<!DOCTYPE html>
<html>
    
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPn6VnGvKDcPjjnq9utmKMwVxPv0gln5w&libraries=places&callback=initAutocomplete" async defer></script>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GoScenic</title>
  <link rel="stylesheet" type = "text/css" href="/static/ScenicTiles.css"/>
</head>
    
<body onload = "setBadinput({{ badInput|tojson }})">
<script type="text/javascript" src="{{ url_for('static', filename='ScenicTiles.js') }}"></script>

<!--    Row 1-->
<div class = "row">
    <div class="box">
      <div class="tile">

        <img class="roadPic" src="/static/road1.jpg" />

      </div>
    </div>
      
    <div class="box">
      <div class="tile">
        <img class="roadPic" src="/static/road2.jpg" />
      </div>
    </div>
      
    <div class="box">
      <div class="tile">
        <img src="/static/road3.jpg" class="roadPic" />
      </div>
    </div>
    
    <div class="box">
      <div class="tile">
        <img src="/static/road4.jpg" class="roadPic" />
      </div>
    </div>
      
    <div class="box">
      <div class="tile">
        <img src="/static/road5.jpg" class="roadPic" />
      </div>
    </div>
      
    <div class="box">
      <div class="tile">
        <img src="/static/road6.jpg" class="roadPic" />
      </div>
    </div>
</div>

<!--    Row 2-->
<div class = "row2">
    <div class="sidepics">
    <div class="box">
      <div class="tile">
        <img src="/static/road7.jpg" class="roadPic" />
      </div>
    </div>    
    <div class="box">
      <div class="tile">
        <img src="/static/road8.jpg" class="roadPic" />
      </div>
        </div>
        </div>
    
<div id = 'infoBox'>
<h1>GoScenic</h1>
<h2><i>Enjoy the Ride!</i></h2>

 <div id = "badinput" hidden="true">
    <img src="/static/warning.png" style="width: 20px; height: 20px;" />
</div>   
 <div id = "badinputTime" hidden="true">
    <img src="/static/warning.png" style="width: 20px; height: 20px;" />
</div>  
 
 {% block content %}
    <form id = "userInputs" method="post" action="{{ url_for('view_map') }}">
<div id="box">
    <div id = "startend">
    <div id="start" class="loc_box">
        <span class = "hoverinfo" id = "starthover"> Please enter a start address for your route.</span>
        <p><input id="start_input" class="locations" type="text" placeholder="Start Location" name = 'startpoint' value = "{{start}}" required></p>
    </div>
        <div id="end" class="loc_box">
        <span class = "hoverinfo" id = "endhover"> Please enter an end address for your route.</span>            
        <p><input id="end_input" class="locations" type="text" placeholder="End Location" name='endpoint' value = "{{end}}" required></p>
    </div>
    </div>
    <div id="timescenery">
        <div id="time">
            <input id="hours_input" class = "time_input" type = "number" min = "0" max = "99" name="hours" value = "{{hours}}" required>               Hours
            <input id="minutes_input" class = "time_input" type = "number" min = "0" max = "59" name= "minutes" value = "{{minutes}}" required>
            Minutes
            <span class = "hoverinfo" id = "timehover"> How much time do you have to spend on this road trip?</span>
        </div>
        
        <div id="scenery">
            <span class = "hoverinfo" id = "sceneryhover"> What is your preferred scenery?</span>
            <p id="sceneryp"><select id = "scenery_select" name='scenery' required>
                <option value="">Select Scenery</option>
                <option value="mountain">Mountains</option>
                <option value="water">Water</option>
                <option value="fields">Fields</option>
                <option value="nature and woods">Nature and Woods</option>
<!--                <option value="non-scenic">Non-Scenic</option>-->
                <option value="sightseeing">Sightseeing</option>
                
            </select></p>
        </div>
    </div>
    
    <div id = "button">
        <button id="go" onclick="">Get My Route</button>
    </div>
</div>
    </form>
{% endblock %}
</div>

    
    <div class="sidepics">
    <div class="box">
      <div class="tile">
        <img src="/static/road9.jpg" class="roadPic" />
      </div>
    </div>    
    <div class="box">
      <div class="tile">
        <img src="/static/road10.jpg" class="roadPic" />
      </div>
        </div>
        </div>
</div>

<!--    Row 3-->
<div class="row">
 <div class="box">
      <div class="tile">
        <img src="/static/road11.jpg" class="roadPic" />
      </div>
    </div>
      
    <div class="box">
      <div class="tile">
        <img src="/static/road12.jpg" class="roadPic" />
      </div>
    </div>
      
    <div class="box">
      <div class="tile">
        <img src="/static/road13.jpg" class="roadPic" />
      </div>
    </div>
      
    <div class="box">
      <div class="tile">
        <img src="/static/road14.jpg" class="roadPic" />
      </div>
    </div>
      
    <div class="box">
      <div class="tile">
        <img src="/static/road15.jpg" class="roadPic" />
      </div>
    </div>    

        <div class="box">
      <div class="tile">
        <img src="/static/road16.jpg" class="roadPic" />
      </div>
    </div>
</div>

</body>
</html>