<!DOCTYPE html>
<html>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPn6VnGvKDcPjjnq9utmKMwVxPv0gln5w&libraries=places&callback=initAutocomplete" async defer></script>

<head>
  <title>Scenic Comps</title>
  <link rel="stylesheet" type = "text/css" href="/static/ScenicComps.css"/>
</head>
    
<body>
<script type="text/javascript" src="{{ url_for('static', filename='ScenicComps.js') }}"></script>
<div class="header">
    <h1>Scenic Comps</h1>
</div>
<h2><i>Enjoy the Ride!</i></h2>

<div id="box">
    <div id = "startend">
    <div id="start" class="loc_box">
        <!--<label>start</label>-->
        <input id="start_input" class="locations" type="text" placeholder="Start Location">
    </div>
    <div id="end" class="loc_box">
        <!--<label>end</label>-->
        <input id="end_input" class="locations" type="text" placeholder="End Location">
    </div>
    </div>
</div>

</body>
</html>